* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

main {
    margin: 120px auto auto 50vw;
    height: 40vw;
    perspective: 200em;
    perspective-origin: center center;
}

section {
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border: 1px solid coral;
    width: 25vw;
    height: 40vw;
}

#a4 {
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s ease-in-out;
    transform: rotatey(0deg);
}

main:hover #a4 {
    transform: rotatey(-180deg);
}

#pagina-1 {
    display: inherit;
    background-color: coral;
}

#pagina-2 {
    display: inherit;
    background-color: blue;
    transform: rotatey(180deg);
}