@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 50px 20px;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-variation-settings: 'wght' 700;
    margin-bottom: 50px;
}

h2 {
    font-size: 2em;
    font-variation-settings: 'wght' 600;
}

h3 {
    font-size: 1.2em;
    font-variation-settings: 'wght' 500;
    flex-basis: 100%;
}

h3 + p {
    font-variation-settings: 'wght' 300;
}

h1 svg {
    max-width: 600px;
    width: 100%;
}

h1 path {
    animation: sizeBlobs 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    fill: #000;
}

h1 text {
    font-weight: 700;
    font-size: 3em;
}

section {
    margin-bottom: 50px;
}

main > section {
    /* width: 300px; */
}

section > header {
    margin-bottom: 10px;
}

section article {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

section article p {
    width: 300px;
}

article > div {
    color: coral;
    font-size: 1.5em;
    font-variation-settings: 'wght' 500;
    margin-left: 10px;
}

@keyframes sizeBlobs {
    0%{ transform: scale(0); }
    20%, 70% { transform: scale(1); }
    90%, 100%{ transform: scale(0);}
}